@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.blog > h1,
h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

article > h2 {
  font-size: 1.5em;
  margin-top: 1.2em;
}
